[run]
# test branches
branch = False

omit = 
    tests/*
    src/models/*
    docker/*
    notebooks/*
    output/*

[paths]
source =
     src/

[reports]
skip_empty = True

[tool:pytest]
adopts = --cov=text_analyser --cov-report html

[html]
directory = coverage_reports
